{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/animations_transform.css' %}">
    <link rel="stylesheet" href="{% static 'css/opacity.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mb-4" style="color: azure;">Servicios ICAYS</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card h-100 shadow opacidad transform opacidad">
                <img src="{% static 'imagen/analisi_agua_potable.png' %}" class="card-img-top p-3" alt="Análisis de agua potable y purificada">
                <div class="card-body">
                    <h5 class="card-title">ANÁLISIS DE AGUA POTABLE Y PURIFICADA</h5>
                    <p class="card-text">En esta área nos dedicamos a realizar el análisis de su agua potable y/ o su agua purificada (sólido o líquido) de tal manera que cumpla con la normatividad que nos rige a través de la CONAGUA y la Secretaría de Salud.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/agua_residual.png' %}" class="card-img-top p-3" alt="Agua residual">
                <div class="card-body">
                    <h5 class="card-title">AGUA RESIDUAL</h5>
                    <p class="card-text">En esta área nos dedicamos a analizar su agua residual, emitir un informe de resultados, para que usted tenga controles internos y pueda cumplir con la normatividad vigente que nos rige a través de la CONAGUA.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/laboratorio_de_alimentos.png' %}" class="card-img-top p-3" alt="Laboratorio de alimentos">
                <div class="card-body">
                    <h5 class="card-title">LABORATORIO DE ALIMENTOS</h5>
                    <p class="card-text">En esta área nos dedicamos a realizar los análisis de alimentos para que las empresas del sector alimenticio proporcionen productos inocuos al consumidor con base en la normativa.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/laboratorio_de_ambiente_laboral.png' %}" class="card-img-top p-3" alt="Estudios de ambiente laboral">
                <div class="card-body">
                    <h5 class="card-title">ESTUDIOS DE AMBIENTE LABORAL</h5>
                    <p class="card-text">En esta área nos dedicamos a realizar los estudios de iluminación y ruido laboral para las óptimas condiciones en los centros de trabajo para el cumplimiento de la norma que nos rige.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/evaluracion_admosfericas.png' %}" class="card-img-top p-3" alt="Evaluación de emisiones a la atmósfera">
                <div class="card-body">
                    <h5 class="card-title">EVALUACIÓN DE LAS EMISIONES A LA ATMOSFERA GENERADAS POR FUENTES FIJAS</h5>
                    <p class="card-text">ICAYS tiene el compromiso de apegarse estrictamente a las regulaciones en materia de control de la calidad del aire. Contamos con personal capacitado, experimentado para el monitoreo y medición de los niveles de contaminación emitidos por las fuentes generadoras.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/plantas_tratamiento.png' %}" class="card-img-top p-3" alt="Plantas de tratamiento de agua residual">
                <div class="card-body">
                    <h5 class="card-title">PLANTAS DE TRATAMIENTO DE AGUA RESIDUAL</h5>
                    <p class="card-text">Rehabilitamos su planta de tratamiento de aguas residuales existente, siempre cuidando cumplir la normatividad y eficientar los costos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow transform opacidad">
                <img src="{% static 'imagen/gestoria_ambiental.png' %}" class="card-img-top p-3" alt="Gestoría ambiental">
                <div class="card-body">
                    <h5 class="card-title">GESTORÍA AMBIENTAL</h5>
                    <p class="card-text">Nuestra área está especializada y dedicada a ofrecer asesoría, capacitación y trámites relacionados en materia ambiental. Nuestros consultores ambientales trabajan con usted en rubros como la contaminación de agua, el aire, evaluación de impacto ambiental, auditoría ambiental, gestión de residuos y política ambiental.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
